* {
    font-family: 'Inter';
    color: #000000;
    box-sizing: border-box;
}

.add-task {
    position: fixed;
    top: 89px;
    left: 232px;
}

.add-taskt-whole-side {
    background-color: #F6F7F8;
    width: 100%;
    height: 100%;
    padding: 100px 25%;
}

.left-side {
    padding-right: 32px;
    border-right: 1px solid #D1D1D1;
}

.right-side {
    padding-left: 32px;
}

.margin-for-fields {
    margin-bottom: 32px;
}

.margin-for-fields:nth-child(4) {
    margin-bottom: 0px;
}

.headline-task {
    width: 466px;
    height: 78px;
    font-weight: 700;
    font-size: 61px;
    margin-bottom: 24px;
}

.header-for-fields {
    font-weight: 400;
    font-size: 21px;
    margin-bottom: 8px;
}

.input-text-type {
    padding: 13px 21px;
    width: 422px;
    height: 51px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    outline: none;
}

.description textarea {
    height: 119px;
    width: 422px;
    max-width: 500px;
    max-height: 200px;
    left: 0px;
    top: 33px;
    border-radius: 10px;
    padding: 18px 21px 18px 21px;
    font-size: 21px;
    outline: none;
    min-height: 60px;
    min-width: 422px;
    max-width: 422px;
}

.dropdown-category-container {
    border: 1px solid #D1D1D1;
    border-radius: 9px;
    font-size: 16px;
}

.dropdown-category {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 8px 16px;
    background-color: white;
}

.border-radius-fields {
    border-radius: 9px;
}

.input-section {
    justify-content: space-between;
    width: 100%;
}

.dropdown-img {
    width: 16px;
    object-fit: contain;
}

.dropdown-category-new {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 8px 16px;
    background-color: white;
}

.dropdown-category-existing {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 8px 16px;
    background-color: white;
}

.dropdown-category-existing:last-child {
    border-radius: 0px 0px 9px 9px;
}

.due-date input {
    height: 51px;
    width: 422px;
    border-radius: 10px;
    padding: 18px 21px 18px 21px;
    border: 1px solid #D1D1D1;
    outline: none;
    font-size: 21px;
}

.due-date input::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.prio-buttons-section {
    width: 422px;
    justify-content: space-between;
}

.prio-btns {
    height: 51px;
    width: 133px;
    border-radius: 10px;
    padding: 18px 10px 18px 10px;
    border: 1px solid #D1D1D1;
    background-color: #FFFFFF;
    cursor: pointer;
    font-size: 21px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.prio-btns:hover {
    transform: scale(1.03);
}

.subtask {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.input-subtask {
    border: none;
    outline: none;
    width: 85%;
    font-size: 21px;
}

.task-btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 48px;
    width: 100%;
}

.inner-side {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.clear-btn {
    border: 1px solid #2A3647;
    color: #2A3647;
    width: 136px;
}

.clear-btn:hover {
    border: 1px solid rgb(0, 178, 238);
    color: rgb(0, 178, 238);
}

.create-btn {
    margin-left: 50px;
    background-color: #2A3647;
    color: white;
    border: none;
    width: 177px;
}

.create-btn:hover {
    background-color: rgb(0, 178, 238);
    color: white;
    border: 1px solid rgb(0, 178, 238);
}

.btns-clear-and-create {
    cursor: pointer;
    border-radius: 10px;
    height: 48px;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btns-clear-and-create:hover {
    transform: scale(1.05);
}

.btns-clear-and-create img {
    margin-left: 12px;
}

.dot {
    height: 21px;
    width: 21px;
    border-radius: 50%;
}

.input-category {
    width: 80%;
    height: 100%;
    font-size: 21px;
    border: none;
    outline: none;
}

.category-icons {
    align-items: center;
    width: 20%;
    justify-content: flex-end;
}

.false-x {
    width: 27px;
    object-fit: cover;
}

.checkmark {
    width: 22px;
    object-fit: cover;
    margin-left: 3px;
}

.colors {
    width: 250px;
    justify-content: space-evenly;
    margin-top: 12px;
}


.all-colors {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid white;
    cursor: pointer;
}

.all-colors:hover {
    transform: scale(1.1);
}

.mistake-category-fields {
    color: red;
    font-size: 14px;
    margin-top: 12px;
}


