body {
    font-family: 'Inter', sans-serif;
    background-color: #F5F5F5;
}

.content {
    position: fixed;
    left: 232px;
    top: 89px;
    margin-left: 16px;
}

.headline {
    display: flex;
    font-size: 21px;
    align-items: center;
    justify-content: space-between;
}

.headline h1 {
    font-weight: 700;
    font-size: 61px;
}

.headaction {
    display: flex;
}

.plusbutton {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
    gap: 10px;
    width: 30px;
    height: 30px;
    border: 2px solid #2A3647;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-size: 30px;
}

.taskbar {
    display: flex;
    flex-direction: row;
}

.taskHeader {
    display: flex;
    width: 230px;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    font-size: 21px;
}

.taskHeader p {
    font-weight: 700;
    font-size: 21px;
}

.addtask {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    width: 137px;
    height: 51px;
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    font-weight: 700;
    font-size: 21px;
    color: #FFFFFF;
}

.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 16px;
    gap: 10px;
    width: 251px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    margin-right: 35px;
}

.searchinfield {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 226px;
    height: 31px;
}

.searchinfield input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 183px;
    height: 31px;
    font-weight: 400;
    font-size: 16px;
    color: #D1D1D1;
    border: none;
}

.todo {
    display: flex;
    flex-direction: column;
    width: 210px;
    padding: 18px 19px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    gap: 10px;
    cursor: pointer;
    margin-bottom: 35px;
}

.category {
    display: flex;
    width: max-content;
    height: max-content;
    padding: 4px 25px;
    gap: 10px;
    border-radius: 8px;
    color: white;
}

.title {
    font-weight: 700;
    font-size: 16px;
    color: #2A3647;
}

.description {
    font-weight: 400;
    font-size: 16px;
    color: #A8A8A8;
}

.subtaskbar {
    display: flex;
    align-items: center;
}

.todofooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dragarea {
    width: 250px;
    height: 200px;
    border-radius: 30px;
    border: dotted transparent 1px;
}

.dragarea-highlight {
    border-color: #2A3647;
}

.progress {
    width: 138px;
    height: 8px;
    border-radius: 3px;
    background-color: #F4F4F4;
}

.progress-bar {
    background-color: #29ABE2;
    height: 100%;
    border-radius: 3px;
    width: 0%;
}

.assigned {
    display: flex;
    align-items: center;
}

.name {
    display: flex;
    width: 35px;
    height: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    margin-left: -8px;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
}

.number{
    display: flex;
    width: 35px;
    height: 35px;
    background-color: #2A3647;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    margin-left: -8px;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
}