.container-contacts {
    height: 100%;
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    padding-left: 32px;
    padding-right: 32px;
    
}

.initials-contact{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    
}

.initials-contact-body{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 36px;
    border: solid 2px white;
}

.add-task-link{
    color: #29abe2;
    font-size: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.add-task-link img{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.contactarea-body-name{
    display: flex;
    align-items: center;

}

.contactarea-body-name h3{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.container-name{
    margin-left: 40px;
}

.edit-link{
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-left: 50px;
    cursor: pointer;
}

.edit-link span{
    margin-bottom: -10px;
}

.text-contact-info{
    font-size: 21px;
}

.contactarea-body-contactinfo{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.contactarea-body-info{
    margin-top: 40px;
}

.contactarea-body-info h5{
    margin-bottom: 20px;
}

.contact-card{
    width: 280px;
    padding: 8px 0px 8px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 5px;
    
}

.contact-card:hover{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

.contact-card-text{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.contact-card-text p{
    font-size: 21px;
    font-weight: 400;
    margin: 0px;
    margin-bottom: 5px;
}

.contact-card-text span{
    color:#29abe2;
    margin: 0px;
}

.wrapper {
    position: fixed;
    top: 92px;
    left: 233px;
    width: calc(100vw - 252px);
    height: calc(100vh - 92px);
    box-sizing: border-box;
}

.header-contacts {
    display: flex;
    align-items: center;
    justify-content: left;
}

.container-contactarea {
    position: fixed;
    top: 92px;
    left: 596px;
    width: calc(100vw - 596px);
    height: calc(100vh - 92px);
    box-sizing: border-box;
    padding-left: 50px;
    
}

.header-contacts h1 {
    font-size: 50px;
}

.header-contacts p {
    font-size: 24px;
}

.horizontal-line {
    height: 60px;
    width: 3px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #29abe2;
}

.button-addcontact {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 16px;
    gap: 10px;
    background: #2a3647;
    border: none;
    border-radius: 10px;
    position: absolute;
    bottom: 60px;
    right: 55px;
    cursor: pointer;
}

.button-addcontact:hover {
    background-color: #29abe2;
}

.button-addcontact img {
    width: 21px;
    height: 21px;
}

.button-addcontact p {
    margin: 0px;
}

.container-addcontact {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-contact {
    width: 900px;
    height: 420px;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    animation:flyin 1s linear;
}

@keyframes flyin{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

.add-contact-first-part {
    width: 40%;
    height: 100%;
    background-color: #2a3647;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.container-logo-addcontact {
    width: 100%;
    padding-left: 80px;
}

.container-logo-addcontact img {
    width: 50px;
}

.container-logo-addcontact h2 {
    width: 100%;
    font-size: 48px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.container-logo-addcontact p {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 18px;
}

.vertikal-line-addcontact {
    width: 25%;
    height: 3px;
    background-color: #29abe2;
}

.add-contact-second-part {
    width: 20%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-contact-second-part img {
    position: absolute;
}

.add-contact-third-part {
    width: 40%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 10px 10px 0;
    flex-direction: column;
}

.input_name {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 21px;
    width: 320px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    background-image: url("./assets/img/name_icon.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 10px;
    background-origin: content-box;
    margin-bottom: 15px;
}

.input_name::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d1d1d1;
    font-size: 21px;
    display: flex;
    align-items: center;
}

.input_name:focus {
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    font-size: 21px;
    outline: none;
}

.input_email {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 21px;
    width: 320px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    background-image: url("./assets/img/Mail_icon.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 10px;
    background-origin: content-box;
    margin-bottom: 15px;
}

.input_email::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d1d1d1;
    font-size: 21px;
    display: flex;
    align-items: center;
}

.input_email:focus {
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    font-size: 21px;
    outline: none;
}

.input_phone {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 21px;
    width: 320px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    background-image: url("./assets/img/logo-phone.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 10px;
    background-origin: content-box;
    margin-bottom: 15px;
}

.input_phone::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d1d1d1;
    font-size: 21px;
    display: flex;
    align-items: center;
}

.input_phone:focus {
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    font-size: 21px;
    outline: none;
}

.button-cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2a3647;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    background: white;
    border: solid 2px #2a3647;
    border-radius: 10px;
    cursor: pointer;
    background-image: url("./assets/img/x-blue.png");
    background-repeat: no-repeat;
    background-position: right;
    background-origin:content-box;
    margin-right: 15px;
    
}

.button-cancel p{
    margin: 0px;
    padding-right: 20px;
}

.button-cancel:hover {
    background-image: url("./assets/img/x-lightblue.png");
    border:solid 2px #29abe2;
    color: #29abe2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.button-create{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 16px 8px 16px;
    gap: 10px;
    background: #2a3647;
    border: solid 2px #2a3647;
    border-radius: 10px;
    cursor: pointer;
}

.button-create:hover{
    border:solid 2px #29abe2;
    background-color: #29abe2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.container-button{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 320px;
}

.close-addcontact{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.d-none{
    display: none;
}

.text-lightblue{
    color: #29abe2;
}
