body {
    font-family: 'inter', sans-serif;
    margin: 0px;
    background: #F6F7F8;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.column {
    flex-direction: column;
}

.logo_login_page {
    animation: myAnim 1s linear 225ms 1 normal both;
    z-index: 2;
    position: absolute;
    top: 40px;
    left: 77px;
}

@keyframes myAnim {
    0% {
        transform: scale(0);
        top: 40px;
        left: 77px;
    }

    100% {
        transform: scale(1);
        top: 40px;
        left: 77px;
    }
}

.header_startscreen {
    display: flex;
    justify-content: space-between;
}

.header_startscreen_left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 130px;
    padding-top: 40px;
    z-index: 10;
}

.header_startscreen_left button {
    margin-left: 25px;
    padding: 4px 16px;
    width: 91px;
    height: 51px;
    background: #2A3647;
    border-radius: 8px;
    color: white;
    border-style: none;
    cursor: pointer;
    font-size: 16px;
}

.header_startscreen_left button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.header_startscreen_left p {
    font-size: 21px;
}

.wrapper_form {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    margin-top: 100px;
    position: relative;
    padding: 40px 70px;
}

.login_form h2 {
    font-size: 61px;
    line-height: 73px;
    border-bottom: 3px solid #29ABE2;
    margin-top: 0px;

}

.input_mail {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 21px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background-image: url("./assets/img/Mail_icon.png");
    background-repeat: no-repeat;
    background-position: 390px 16px;
    margin-bottom: 15px;
}

.input_mail::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #D1D1D1;
    font-size: 21px;
    display: flex;
    align-items: center;
}

.input_mail:focus {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    outline: none;
}

.input_password {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 21px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background-image: url("./assets/img/password_icon.png");
    background-repeat: no-repeat;
    background-position: 390px 16px;
    margin-bottom: 15px;
}

.input_password::placeholder {
    color: #D1D1D1;
    font-size: 21px;
    display: flex;
    align-items: center;
}

.input_password:focus {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    outline: none;
}

.login_form_part3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.login_form_part3 p {
    font-size: 16px;
}

.forgot_password {
    color: #29ABE2;
    margin-left: 10px;
    cursor: pointer;
}

.login_button {
    background: #2A3647;
    border-radius: 8px;
    color: white;
    border-style: none;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    font-size: 21px;
    padding: 13.5px 37px;
}

.login_button:hover{
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.guest_button{
    background:white;
    border-radius: 8px;
    color: #2A3647;
    cursor: pointer;
    width: 145px;
    height: 51px;
    font-size: 21px;
    border: solid 2px #2A3647;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.guest_button:hover{
    color: #29ABE2;
    border-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.loginform_buttonarea{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.input_name{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 21px;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background-image: url("./assets/img/name_icon.png");
    background-repeat: no-repeat;
    background-position: 390px 16px;
    margin-bottom: 15px;
}

.input_name::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #D1D1D1;
    font-size: 21px;
    display: flex;
    align-items: center;
}

.input_name:focus {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    outline: none;
}

.arrow{
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;
}

.d-none{
    display: none;
}